# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Other
*.sqlite3
*.db
